body {
  background-color: lightblue;
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: white;
}
ul {
  display: flex;
}
ul li {
  margin: 0.8rem;
}
ul li a {
  color: gray;
  font-size: 1.1rem;
}
.content {
  margin: auto;
  width: 80%;
  color: black;
}
