.plant-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
}

.card {
  max-width: 500px;
}
.plant-card {
  margin: 0.5rem;
}
.card-subtitle {
  display: flex;
  flex-direction: column;
}
.card-subtitle span {
  display: flex;
  justify-content: flex-start;
}
.card-title {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #217868;
}
.edit-header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.card-footer {
  display: flex;
  justify-content: space-between;
}
.water-button {
  width: 100%;
}
.card-body-wrapper {
  display: flex;
}
#loading-spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
}
#loading-spinner {
  width: 5rem;
  height: 5rem;
}
.home-button-wrapper {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 1.5rem;
  right: 6rem;
}
.home-button-wrapper button {
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}
